﻿@model AutoFixProyectoWeb.Entities.InventarioEnt

@{
    ViewBag.Title = "Actualizar Inventario";
    ViewBag.Seccion = "Actualizar Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/Static/css/select2.min.css" rel="stylesheet" />
    <link href="~/Static/css/prettify.css" rel="stylesheet" />
}
<div class="card-body">
    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

        @if (ViewBag.MsjPantalla != null)
        {
            <div class="alert alert-warning" role="alert" style="text-align:center">
                @ViewBag.MsjPantalla
            </div>
        }
         
        @using (Html.BeginForm("ActualizarInventario", "Inventario", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {

            @Html.HiddenFor(m => m.id_inventario)

            <div class="mb-lg-5">
                <div class="form-group mb-3">
                    @Html.Label("Categoria")
                    @Html.TextBoxFor(m => m.id_categoria, new { @class = "form-control form-control-user", @placeholder = "Categoria", @required = "true" })
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            @Html.Label("Nombre")
                            @Html.TextBoxFor(m => m.nombre, new { @class = "form-control form-control-user", @placeholder = "Nombre", @required = "true" })
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            <div class="form-group">
                                @Html.Label("Cantidad")
                                @Html.TextBoxFor(m => m.cantidad, new { @class = "form-control form-control-user", @placeholder = "Cantidad", @required = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            @Html.Label("Precio Compra")
                            @Html.TextBoxFor(m => m.precio_compra, new { @class = "form-control form-control-user", @placeholder = "Precio Compra", @required = "true" })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group mb-3">
                            @Html.Label("Precio Venta")
                            @Html.TextBoxFor(m => m.precio_venta, new { @class = "form-control form-control-user", @placeholder = "Precio Venta", @required = "true" })
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-user btn-block btn-right" value="Actualizar">
        }

    </div>
</div>
@section Scripts{
    <script src="~/Static/js/select2.min.js"></script>
    <script src="~/Static/js/registrar-producto.js"></script>
}