@model AutoFixProyectoWeb.ViewModels.AdminView.InventarioVM
@{
    ViewBag.Title = "Inventario";
    Layout = "~/Views/Shared/_LayoutMenus.cshtml";
}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
         navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Principal</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Inventario</li>
                </ol>

            </nav>
        </div>
    </nav>
    <div class="col-12" id="seccionInventario">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-8 d-flex align-items-center">
                        <h6 class="mb-0">Inventario</h6>
                    </div>
                    <div class="col-md-4 text-end">
                        <a data-bs-toggle="modal" data-bs-target="#agregarInventario">
                            <i class="fa fa-plus text-secondary mb-3"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2 mt-3">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nombre Producto</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Cantidad</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Precio Compra</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Precio Venta</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.inventario)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">@item.nombre</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs text-secondary mb-0">@item.cantidad</p>
                                    </td>
                                    <td>
                                        <p class="text-xs text-secondary mb-0">@item.precio_compra</p>
                                    </td>
                                    <td>
                                        <p class="text-xs text-secondary mb-0">@item.precio_venta</p>
                                    </td>
                                    <td class="align-middle seccion-editar">
                                        <h6 class="idInventario" hidden>@item.id_inventario</h6>
                                        <a class=" font-weight-bold text-xs btn-editar btn-link" data-toggle="tooltip"
                                           data-original-title="Editar" data-bs-toggle="modal" data-bs-target="#actualizarInventario" style="color: #cb0c9f">
                                            Editar
                                        </a>
                                    </td>
                                    <td class="align-middle seccion-eliminar">
                                        <h6 class="idInventario" hidden>@item.id_inventario</h6>
                                        <a class=" font-weight-bold text-xs btn-eliminar btn-eliminar btn-link" data-toggle="tooltip"
                                           data-id-inventario="@item.id_inventario" data-original-title="Eliminar" data-bs-toggle="modal" data-bs-target="#eliminarInventario" style="color: #cb0c9f">
                                            Eliminar
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Agregar Inventario -->
    <div class="modal modal-lg fade" id="agregarInventario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Inventario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAgregarInventario">
                        <label for="txtIDInventario">ID Producto</label>
                        <input type="text" name="txtIDInventario" id="txtIDInventario" class="form-control" placeholder="Indique el ID del producto" required>
                        <label for="txtCategoria">Categoría</label>
                        <select id="selectCategoria" name="selectCategoria" class="form-select" required>
                            <option value="">Seleccione una categoria</option>
                            @foreach (var categoria in Model.categorias) { 
                                <option value="@categoria.id_categoria">@categoria.categoria</option>
                            }
                        </select>
                        <label for="txtNombre">Nombre</label>
                        <input type="text" name="txtNombre" id="txtNombre" class="form-control" placeholder="Indique el nombre del producto" required>
                        <label for="txtCantidad">Cantidad</label>
                        <input type="text" name="txtCantidad" id="txtCantidad" class="form-control" placeholder="Indique la cantidad" required>
                        <label for="txtPrecioCompra">Precio Compra</label>
                        <input type="text" name="txtPrecioCompra" id="txtPrecioCompra" class="form-control" placeholder="Indique el precio de compra" required>
                        <label for="txtPrecioVenta">Precio Venta</label>
                        <input type="text" name="txtPrecioVenta" id="txtPrecioVenta" class="form-control" placeholder="Indique el precio de venta" required>

                        <div class="row mt-xl-3 justify-content-center text-center">
                            <div class="col-md-12">
                                <input type="button" onclick="guardarInventario()" value="Guardar Inventario" class="btn bg-gradient-dark">
                                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal  editar Inventario-->
    <div class="modal modal-lg fade" id="actualizarInventario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualizar Inventario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <label for="txtIDInventario">ID Producto</label>
                        <input type="text" name="txtIDInventario" id="txtIDInventario" class="form-control"
                               placeholder="Indique el ID del producto" required readonly>
                        <label for="txtCategoria">Categoria</label>
                        <select id="selectCategoria" name="selectCategoria" class="form-select" required>
                            <option value="">Seleccione una categoria</option>
                            @foreach (var categoria in Model.categorias)
                            {
                                <option value="@categoria.id_categoria">@categoria.categoria</option>
                            }
                        </select>
                        <label for="txtNombre">Nombre</label>
                        <input type="text" name="txtNombre" id="txtNombre" class="form-control"
                               placeholder="Indique el nombre del producto" required>
                        <label for="txtCantidad">Cantidad</label>
                        <input type="text" name="txtCantidad" id="txtCantidad" class="form-control"
                               placeholder="Indique la cantidad" required>
                        <label for="txtPrecioCompra">Precio Compra</label>
                        <input type="text" name="txtPrecioCompra" id="txtPrecioCompra" class="form-control"
                               placeholder="Indique el precio de compra" required>
                        <label for="txtPrecioVenta">Precio Venta</label>
                        <input type="text" name="txtPrecioVenta" id="txtPrecioVenta" class="form-control"
                               placeholder="Indique el precio de venta" required>

                        <div class="row mt-xl-3 justify-content-center text-center">
                            <div class="col-md-12">
                                <input type="submit" onclick="actualizarInventario()" value="Actualizar Inventario" class="btn bg-gradient-dark">
                                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- Modal eliminar Inventario -->
    <div class="modal modal-lg fade" id="eliminarInventario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Inventario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro que desea eliminar este producto?</p>
                    <input type="hidden" id="idInventarioEliminar" />
                    <div class="row mt-xl-3 justify-content-center text-center">
                        <div class="col-md-12">
                            <input type="submit" onclick="eliminarInventario()" value="Eliminar Inventario" class="btn bg-gradient-dark">
                            <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Cargar jQuery primero -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section Scripts {
    <script src="~/Content/assets/js/custom/inventario.js"></script>
}
