@model AutoFixProyectoWeb.ViewModels.ClienteProfileVM

@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_LayoutMenusCliente.cshtml";
    ViewBag.user_id = HttpContext.Current.Session["UserId"];

}

    <div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg bg-transparent shadow-none position-absolute px-4 w-100 z-index-2">
            <div class="container-fluid py-1">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-4 ps-2 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm"><a class="text-white opacity-5" href="javascript:;">Menu</a></li>
                        <li class="breadcrumb-item text-sm text-white active" aria-current="page">Perfil</li>
                    </ol>
                    <h6 class="text-white font-weight-bolder ms-2">Perfil</h6>
                </nav>
                <div class="collapse navbar-collapse me-md-0 me-sm-4 mt-sm-0 mt-2" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    </div>
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item d-flex align-items-center">
                            <a href="@Url.Action("cerrarSession", "Usuarios")" class="nav-link text-white font-weight-bold px-0">
                                <i class="fa fa-user me-sm-1"></i>  
                                <span class="d-sm-inline d-none">Cerrar Sesión</span>                                
                            </a>
                        </li>
                        <li class="nav-item d-xl-none ps-3 pe-0 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-white p-0">
                                <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                                    <div class="sidenav-toggler-inner">
                                        <i class="sidenav-toggler-line bg-white"></i>
                                        <i class="sidenav-toggler-line bg-white"></i>
                                        <i class="sidenav-toggler-line bg-white"></i>
                                    </div>
                                </a>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="container-fluid">
            <div class="page-header min-height-300 border-radius-xl mt-4"
                 style="background-image: url('../../Content/assets/img/curved-images/curved0.jpg'); background-position-y: 50%;">
                <span class="mask bg-gradient-primary opacity-6"></span>
            </div>
            <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
                <div class="row gx-4">
                    <div class="col-auto">
                        <div class="avatar avatar-xl position-relative">
                            <img src="~/Content/assets/img/bruce-mars.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                        </div>
                    </div>
                    <div class="col-auto my-auto">
                        <div class="h-100">
                            <h5 class="mb-1">
                                @Model.perfil.nombre
                            </h5>
                            <p class="mb-0 font-weight-bold text-sm">
                                Cliente
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid py-4">
            <div class="row">
                @Html.Partial("Partials/ClienteProfile_partial", Model.perfil);
                @Html.Partial("Partials/VehiculosList_partial", Model.vehiculos);
                @Html.Partial("Partials/MensajesList_partial");
                @Html.Partial("Partials/ProyectosList_partial", Model.proyectos);
            </div>
        </div>

        @Html.Partial("Partials/ProyectoCreate_partial", Model.proyectoCreateVM);
       

    </div>
  