@model List<AutoFixProyectoWeb.Models.Response.Historial_Vehiculo>


<div class="table-responsive p-0">
    <table class="table align-items-center mb-0">
        <thead>
            <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Servicio</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Descripción</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Precio total de servicios</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fecha</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                    Mecánico
                </th>
              
                <th class="text-secondary opacity-7"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var historial in Model)
            {
                <tr>
                    <td>
                        <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">
                                    @(historial.SERVICIOS != null && historial.SERVICIOS.Any()
                                    ? String.Join(", ", historial.SERVICIOS.Select(s => s.SERVICIO))
                                    : "____")
                                </h6>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="text-xs text-secondary mb-0">
                            @(historial.SERVICIOS != null && historial.SERVICIOS.Any()
                            ? String.Join(", ", historial.SERVICIOS.Select(s => s.DESCRIPCION))
                            : "____")
                        </p>
                    </td>
                    <td>
                        <p class="text-xs text-center text-secondary mb-0">$ @historial.SERVICIOS.Sum(s => s.PRECIO)</p>
                    </td>
                    <td>
                        <p class="text-xs text-secondary mb-0">@historial.HISTORIAL.FECHA</p>
                    </td>
                    <td>
                        <p class="text-xs text-secondary mb-0">@historial.HISTORIAL.MECANICO</p>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>